In [1]:
#TIC TAC TOE GAME

In [2]:
d = {1:' ', 2:' ',3:' ',4:' ',5:' ',6:' ',7:' ',8:' ',9:' '}

In [3]:
# function for displaying the row
def display_row(d,row_number):
    print("     |     |     ")
    print("  ",d[1 + 3*(row_number-1)],"  ","|  ",d[2+3*(row_number-1)],"  ","|  ",d[3+3*(row_number-1)],"  ",sep ='')
    print("     |     |     ")

In [4]:
display_row(d,1)

     |     |
     |     |
     |     |

In [5]:
# displaying the horizontal line

In [6]:
def display_horizontal_line(n):
    for i in range(n):
        print('=',end='')
    print(' ')

In [7]:
display_horizontal_line(37)

=====================================

In [8]:
# function to make the tic tac toe board

In [9]:
def display_board(d):
    for i in range(1,4):
        display_row(d,i)
        if i<3:
            display_horizontal_line(17)

In [10]:
display_board(d)

     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |

In [11]:
#this function will take the input
#First it asks the name of the first player
#then it asks what symbol 1st player will choose
# then it asks for the name of the second player and allot the remaining symbol to him/her

In [12]:
def player_name():
    user_1 = input('Hi please enter your name')
    print('Hi', user_1)
    user_1_char = input('Please choose your character from x or o')
        
    user_2 = input('Hi please enter player 2 name')
    
    if user_1_char == 'x':
        user_2_char = 'o'
    else:
        user_2_char = 'x'
        
    print(user_1,'choosed',user_1_char)
    print(user_2,'choosed',user_2_char)
    
    return((user_1,user_1_char),(user_2,user_2_char))

In [13]:
player_name()

Hi please enter your nameAreeb
Hi Areeb
Please choose your character from x or ox
Hi please enter player 2 nameHimanshu
Areeb choosed x
Himanshu choosed o

(('Areeb', 'x'), ('Himanshu', 'o'))

In [14]:
# check whether all the characters in the row are same

In [15]:
def row_check(d,char,i):
    if d[1+i*3]== char and d[2+i*3]==char and d[3+i*3]==char:
        return True
    else:
        return False
# first row i = 0 char = x d = {1:x2:x3:x,}

In [16]:
# check whether all the characters in the col are same

In [17]:
def column_check(d,char,i):
    if d[i+1]==char and  d[i+4] == char and d[i+7]==char:
        return True
    else:
        return False

In [18]:
# check for the diagonal 1

In [19]:
def diag1_check(d,char):
    if d[1]==char and d[5]==char and d[9]==char:
        return True
    else:
        return False

In [20]:
# check for the diagonal 2

In [21]:
def diag2_check(d,char):
    if d[3]==char and d[5]==char and d[7]==char:
        return True
    else:
        False

In [22]:
# all the char in the row are same
# all the char in the col are same
# all the char in the diagonal are same

# this function return wheter a player wins or not after this move

In [23]:
def won(d,char):
    flag = 0
    
    for i in range(3):
        if row_check(d,char,i) == True:
            flag = 1
        if column_check(d,char,i) == True:
            flag = 1
    
    
    if diag1_check(d,char) == True or diag2_check(d,char)==True:
        flag = 1
        
    if flag == 1:
        return True
    else:
        return False

In [24]:
# check wheter the matrix is full or not

def complete(d):
    flag = 1
    for i in range(1,10):
        if d[i] ==' ':
            flag =0
    
    if flag == 0:
        return False
    else:
        return True

In [25]:
(user_1,user_1_char),(user_2,user_2_char) = player_name()

Hi please enter your nameAreeb
Hi Areeb
Please choose your character from x or oo
Hi please enter player 2 nameHimanshu
Areeb choosed o
Himanshu choosed x

In [26]:
# example of the board
ref = {1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9'}
display_board(ref)

     |     |
  1  |  2  |  3
     |     |
=================
     |     |
  4  |  5  |  6
     |     |
=================
     |     |
  7  |  8  |  9
     |     |

In [31]:
# player is one
player = 1

d = {1:' ',2:' ',3:' ',4:' ',5:' ',6:' ',7:' ',8:' ',9:' '}
display_board(d)
while True:
    if player == 1: #first conditon to move our player
        print(user_1, 'Please select a cell from 1 to 9 to put your character', user_1_char)
        place = int(input())
        
        ls = [1,2,3,4,5,6,7,8,9]
        
        flag1 = 1
        flag2 = 1
        
        while flag1 == 1  or flag2 == 1:
            if place not in ls:
                print('you have not chosen a number from 1 to 9, please choose again')
                place = int(input('Try again'))
                continue
            else:
                flag1 = 0
                
            if d[place] != ' ':
                print('This place is already filled')
                place = int(input('Try again'))
                continue
                
            else:
                flag2 = 0
                
            
        d[place] = user_1_char
        display_board(d)
        
        if won(d,user_1_char)== True:
            print('Congrats',user_1,'Won')
            break
            
            
        player = 2
        
    else:
        print(user_2, 'Please select a cell from 1 to 9 to put your character', user_2_char)
        place = int(input())
        
        ls = [1,2,3,4,5,6,7,8,9]
        
        flag1 = 1
        flag2 = 1
        
        while flag1 == 1  or flag2 == 1:
            if place not in ls:
                print('you have not chosen a number from 1 to 9, please choose again')
                place = int(input('Try again'))
                continue
            else:
                flag1 = 0
                
            if d[place] != ' ':
                print('This place is already filled')
                place = int(input('Try again'))
                continue
                
            else:
                flag2 = 0
                
            
        d[place] = user_2_char
        display_board(d)
        
        if won(d,user_2_char)== True:
            print('Congrats',user_2,'Won')
            break
            
        player = 1
        
    if complete(d):
        print('Match DRAW!!!')
        break

     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |
Areeb Please select a cell from 1 to 9 to put your character o
1
     |     |
  o  |     |
     |     |
=================
     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |
Himanshu Please select a cell from 1 to 9 to put your character x
5
     |     |
  o  |     |
     |     |
=================
     |     |
     |  x  |
     |     |
=================
     |     |
     |     |
     |     |
Areeb Please select a cell from 1 to 9 to put your character o
2
     |     |
  o  |  o  |
     |     |
=================
     |     |
     |  x  |
     |     |
=================
     |     |
     |     |
     |     |
Himanshu Please select a cell from 1 to 9 to put your character x
3
     |     |
  o  |  o  |  x
     |     |
=================
     |     |
     |  x  |
     |     |
=================
     |     |
     |     |
     |     |
Areeb Please select a cell from 1 to 9 to put your character o
7
     |     |
  o  |  o  |  x
     |     |
=================
     |     |
     |  x  |
     |     |
=================
     |     |
  o  |     |
     |     |
Himanshu Please select a cell from 1 to 9 to put your character x
9
     |     |
  o  |  o  |  x
     |     |
=================
     |     |
     |  x  |
     |     |
=================
     |     |
  o  |     |  x
     |     |
Areeb Please select a cell from 1 to 9 to put your character o
4
     |     |
  o  |  o  |  x
     |     |
=================
     |     |
  o  |  x  |
     |     |
=================
     |     |
  o  |     |  x
     |     |
Congrats Areeb Won