In [1]:
#TIC TAC TOE GAME

In [13]:
d = {1:' ', 2:' ',3:' ',4:' ',5:' ',6:' ',7:' ',8:' ',9:' '}

In [14]:
# function for displaying the row
def display_row(d,row_number):
    print("     |     |     ")
    print("  ",d[1 + 3*(row_number-1)],"  ","|  ",d[2+3*(row_number-1)],"  ","|  ",d[3+3*(row_number-1)],"  ",sep ='')
    print("     |     |     ")

In [15]:
display_row(d,1)

     |     |
     |     |
     |     |

In [16]:
# displaying the horizontal line

In [29]:
def display_horizontal_line(n):
    for i in range(n):
        print('=',end='')
    print(' ')

In [30]:
display_horizontal_line(37)

=====================================

In [31]:
# function to make the tic tac toe board

In [36]:
def display_board(d):
    for i in range(1,4):
        display_row(d,i)
        if i<3:
            display_horizontal_line(17)

In [37]:
display_board(d)

     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |
=================
     |     |
     |     |
     |     |

In [38]:
#this function will take the input
#First it asks the name of the first player
#then it asks what symbol 1st player will choose
# then it asks for the name of the second player and allot the remaining symbol to him/her

In [42]:
def player_name():
    user_1 = input('Hi please enter your name')
    print('Hi', user_1)
    user_1_char = input('Please choose your character from x or o')
    
    from x or o')
        
    user_2 = input('Hi please enter player 2 name')
    
    if user_1_char == 'x':
        user_2_char = 'o'
    else:
        user_2_char = 'x'
        
    print(user_1,'choosed',user_1_char)
    print(user_2,'choosed',user_2_char)
    
    return((user_1,user_1_char),(user_2,user_2_char))

In [44]:
player_name()

Hi please enter your nameareeb
Hi areeb
Please choose your character from x or om
Looks like you have not chosen character from x or o
Please choose your character from x or oa
Looks like you have not chosen character from x or o
Please choose your character from x or oo
Hi please enter player 2 nameHimanshu
areeb choosed o
Himanshu choosed x

(('areeb', 'o'), ('Himanshu', 'x'))

In [45]:
# check whether all the characters in the row are same

In [47]:
def row_check(d,char,i):
    if d[1+i*3]== char and d[2+i*3]==char and d[3+i*3]==char:
        return True
    else:
        return False
# first row i = 0 char = x d = {1:x2:x3:x,}

In [51]:
# check whether all the characters in the col are same

In [52]:
def column_check(d,char,i):
    if d[i+1]==char and  d[i+4] == char and d[i+7]==char:
        return True
    else:
        return False

In [53]:
# check for the diagonal 1

In [54]:
def diag1_check(d,char):
    if d[1]==char and d[5]==char and d[9]==char:
        return True
    else:
        return False

In [55]:
# check for the diagonal 2

In [ ]:
def diag2_check(d,char):
    if d[3]==char and d[5]==char and d[7]==char:
        return True
    else:
        False