In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('areeb.db')

In [3]:
crsr = connection.cursor()

In [4]:
sql_command = '''CREATE TABLE emp (
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE)'''

In [5]:
crsr.execute(sql_command)

OperationalError: table emp already exists

In [6]:
sql_command = '''INSERT INTO emp VALUES(1,'Areeb','Dps','M','2022-04-04')'''

In [7]:
crsr.execute(sql_command)

IntegrityError: UNIQUE constraint failed: emp.staff_number

In [8]:
sql_command = '''INSERT INTO emp VALUES(2,'Himanshu','Saini','M','2022-04-04')'''

In [9]:
crsr.execute(sql_command)

IntegrityError: UNIQUE constraint failed: emp.staff_number

In [10]:
connection.commit()

In [11]:
connection.close()

In [22]:
def submit():
    connection = sqlite3.connect('areeb.db')
    crsr = connection.cursor()
    
    crsr.execute("INSERT INTO emp VALUES(:Staffno, :f_name, :l_name, :Gender, :DOJi)",
                 {
                     'Staffno': Staffno.get(),
                     'f_name':f_name.get(),
                     'l_name':l_name.get(),
                     'Gender':Gender.get(),
                     'DOJi':DOJi.get()
                 }
                )
    
    connection.commit()
    connection.close()
    
    Staffno.delete(0,END)
    f_name.delete(0,END)
    l_name.delete(0,END)
    Gender.delete(0,END)
    DOJi.delete(0,END)

In [30]:
def Query():
    connection = sqlite3.connect('areeb.db')
    crsr = connection.cursor()
    
    crsr.execute('SELECT *, oid FROM emp')
    
    ans = crsr.fetchall()
    
    records = ''
    
    for record in ans:
        records += record[1] + ' '+ record[2]+ '\n'
        # x += 1 =  x=x+1
        
    Label(root,text=records).grid(row=7,column=0,columnspan=2)

In [40]:
from tkinter import *

In [41]:
root = Tk()

In [42]:
Staffno = Entry(root,width=30)
Staffno.grid(row=0,column=1,padx=20)

f_name = Entry(root,width=30)
f_name.grid(row=1,column=1,padx=20)

l_name = Entry(root,width=30)
l_name.grid(row=2,column=1,padx=20)

Gender = Entry(root,width=30)
Gender.grid(row=3,column=1,padx=20)

DOJi = Entry(root,width=30)
DOJi.grid(row=4,column=1,padx=20)

In [43]:
Staffno_label = Label(root,text='Staff number')
Staffno_label.grid(row=0,column=0)


fname_label = Label(root,text='First Name')
fname_label.grid(row=1,column=0)


lname_label = Label(root,text='Last Name')
lname_label.grid(row=2,column=0)


Gender_label = Label(root,text='Gender')
Gender_label.grid(row=3,column=0)


DOJi_label = Label(root,text='Joining')
DOJi_label.grid(row=4,column=0)

In [44]:
Button(root,text='add this record to the database', command=submit).grid(row=5,columnspan=2,pady=10,padx=20,ipadx=100)
Button(root,text='Query From the Databse', command=Query).grid(row=6,columnspan=2,pady=10,padx=20,ipadx=100)

In [45]:
def delete():
    connection = sqlite3.connect('areeb.db')
    
    crsr = connection.cursor()
    
    connection.execute('DELETE from emp WHERE oid=' + deli.get())
    
    deli.delete(0,END)
    
    connection.commit()

In [46]:
deli = Entry(root,width=30)
deli.grid(row=7,column=1,padx=30)

In [47]:
Button(root,text='Delete the enter ID', command=delete).grid(row=8,columnspan=2,pady=10,padx=20,ipadx=100)

In [48]:
root.mainloop()